<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180635049960-5dnheand0qee8gnmr16kemps2fh7tms4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180635049960-5dnheand0qee8gnmr16kemps2fh7tms4</string>
	<key>API_KEY</key>
	<string>AIzaSyDNhj_oZFkuLdjD52HJDxpD_Kv_-w9vxQg</string>
	<key>GCM_SENDER_ID</key>
	<string>180635049960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sprout</string>
	<key>PROJECT_ID</key>
	<string>sprout-e2297</string>
	<key>STORAGE_BUCKET</key>
	<string>sprout-e2297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180635049960:ios:d5a9daee0ec2124ee70e5d</string>
</dict>
</plist>